body {
	background-color: rgba(247,249,250,1);
}

#page {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 5%;
	
}

.col-md-3 {
	background-color: rgba(222,228,232,1);
	border: 4px solid rgba(247,249,250,1);
	text-align: center;
	border-radius: 3px;
}

h1 {
	font-weight: 100;
	margin-top: 20px;
	margin-bottom: 0px;
}

h2 {
	margin: 0px;
	margin-bottom: 5px;
}

h3 {
  	margin-top: 0px;
  	margin-bottom: 10px;
  	font-size: 20px;
	font-weight: 100;

}

h4 {
	font-family: 'Cutive Mono';

}

h5 {
	font-family: 'Cutive Mono';
	font-size: 20px;
	margin: 0px;
}

.high {
	padding-top: 22px;
}

.refresh {
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: 'Cutive Mono';
	font-size: 10px;
	font-style: italic;
	
}

.title h1 {
	font-size: 34px;
	font-weight: 300;
	margin-left: 15px;
	margin-bottom: 10px;
	border-left: 5px solid rgb(52, 152, 219);
	padding-left: 5px;
	margin-top: 20px;
}

#order button {
	margin-top: 20px;
	margin-bottom: 20px;

}

#paying {
	margin-bottom: 15px;
}

p {
	font-family: 'Cutive Mono';

}


.selected {
	border: 4px solid rgb(52, 152, 219);
	border-radius: 3px;
}

.booked {
	color: white;
	background-color: rgb(52, 152, 219);

}

.booked.selected {
	border: 4px solid rgb(41, 128, 185)!important;
	border-radius: 3px;
	
}

.tabs {
	margin: 20px;
}

.full {
	background: repeating-linear-gradient(
  45deg,
  rgb(230, 126, 34),
  rgb(230, 126, 34) 10px,
  rgb(243, 156, 18) 10px,
  rgb(243, 156, 18) 20px
);
}



#prices {
	text-align: right;
}

#price {
	margin-top: 20px;
}

.full hr {
	border-top: 2px solid #ec9e1e;
}

.pricing{
	padding-left: 15px;
	padding-right: 15px;

}

.inforow{
	padding-left: 15px;
	padding-right: 15px;
} 

#cash {
	padding: 15px;
}

#transfer {
	padding-top: 15px;
}

.booked hr {
	border-top: 2px solid rgb(41, 128, 185);
}

#sad_giraffe {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 10px;
}

#giraffe {
	width: 30%;
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 10px;	
}

#information .col-md-2, .col-md-10 {
	margin-top: 5px;
}



.center {
	text-align: center;
}



@media (min-width: 768px) {

h1 {
	font-size: 24px;
}

h4 {
	font-size: 19px;
}

}
@media (min-width: 992px) {

h1 {
	font-size: 36px;
}

h4 {
	font-size: 28px;
}

}
@media (min-width: 1200px) {
  
h1 {
	font-size: 48px;
}
}